body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
html,
body {
  height: 100%;
   margin: 0;
    padding: 0;
}
nav a {
  transition: all 0.3s ease;
}
@media print {
  form,
  nav,
  .print-hide {
    display: none;
  }

  body {
    padding: 20px;
    color: black;
   
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-image {
  animation: slideIn 0.6s ease-in-out;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 4px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: #22c55e;
}

/* PRINT SUPPORT */
@media print {
  .print-hide {
    display: none !important;
  }
}

/* Spinner Overlay */
#spinnerOverlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: none; /* JS will toggle */
  z-index: 9999;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Spinner Style */
.spinner {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #10b981;
  border-radius: 9999px;
  width: 48px;
  height: 48px;
  animation: spin 1s linear infinite;
}

/* Spinner Animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
